In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pyspark.sql import functions as F
from functools import reduce

In [2]:
spark = SparkSession.builder.appName("MeuApp").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/31 19:50:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:

df_classe = spark.read.option("delimiter", ",").option("header", True).csv("classe.csv")

df_classe.show(truncate=False)

+-----------+-------------+-------+
|classe     |codigo_regiao|posicao|
+-----------+-------------+-------+
|CLASSE 21_5|21060        |5      |
|CLASSE 98_5|98495        |5      |
|CLASSE 38_5|38321        |5      |
|CLASSE 68_5|68789        |5      |
|CLASSE 72_5|71236        |5      |
|CLASSE 24_5|24147        |5      |
|CLASSE 07_5|07663        |5      |
|CLASSE 05_5|05886        |5      |
|CLASSE 77_5|77370        |5      |
|CLASSE 98_5|98574        |5      |
|CLASSE 04_5|04907        |5      |
|CLASSE 19_5|19892        |5      |
|CLASSE 33_5|33513        |5      |
|CLASSE 07_2|07           |2      |
|CLASSE 05_2|05           |2      |
|CLASSE 77_2|77           |2      |
|CLASSE 33_2|33           |2      |
|CLASSE 0_1 |0            |1      |
+-----------+-------------+-------+

In [4]:

df_fake = spark.read.option("delimiter", ",").option("header", True).csv("data.csv")\
.withColumn("data_nascimento", F.to_date(F.col("data_nascimento")))\
.withColumn("cep", F.regexp_replace(F.col("cep"), "-", ""))\
.withColumn("p_1", F.substring(F.col("cep"),  1, 1))\
.withColumn("p_2", F.substring(F.col("cep"),  1, 2))\
.withColumn("p_3", F.substring(F.col("cep"),  1, 3))\
.withColumn("p_4", F.substring(F.col("cep"),  1, 4))\
.withColumn("p_5", F.substring(F.col("cep"),  1, 5))\

df_fake.show(truncate=False)

+------+------------------------+----------------------------------+---------------+--------+---+---+---+----+-----+
|id    |nome                    |email                             |data_nascimento|cep     |p_1|p_2|p_3|p_4 |p_5  |
+------+------------------------+----------------------------------+---------------+--------+---+---+---+----+-----+
|605755|Catarina Rios           |costelasara@example.com           |1941-07-19     |72828003|7  |72 |728|7282|72828|
|453942|João Gabriel Nunes      |arthurdas-neves@example.org       |2004-12-01     |05055581|0  |05 |050|0505|05055|
|264157|Sofia Araújo            |bda-costa@example.com             |1910-11-02     |30758720|3  |30 |307|3075|30758|
|284311|Alexia Fogaça           |machadonina@example.org           |1929-01-29     |28840655|2  |28 |288|2884|28840|
|640344|Srta. Alexia Fonseca    |joao-guilhermesousa@example.org   |2002-11-26     |85644776|8  |85 |856|8564|85644|
|566589|Esther Correia          |vargasmateus@example.com          |1931-10-16     |16575210|1  |16 |165|1657|16575|
|235031|Josué Moraes            |maria-sophiacaldeira@example.org  |1914-09-06     |53082954|5  |53 |530|5308|53082|
|168517|Liz Albuquerque         |dom39@example.org                 |1984-04-18     |73321912|7  |73 |733|7332|73321|
|963175|Gustavo Henrique Ribeiro|stella64@example.org              |1952-10-04     |34591636|3  |34 |345|3459|34591|
|715299|Olívia Cavalcanti       |gsantos@example.org               |1997-09-23     |49474942|4  |49 |494|4947|49474|
|660018|Arthur Pimenta          |daniela24@example.org             |1940-08-18     |77030923|7  |77 |770|7703|77030|
|719078|Clarice Rios            |correiaana-sophia@example.org     |1959-11-10     |23847997|2  |23 |238|2384|23847|
|287596|Samuel Porto            |ceciliavargas@example.net         |2017-07-25     |16913009|1  |16 |169|1691|16913|
|972500|Arthur Miguel Aragão    |oferreira@example.org             |1941-09-27     |89983995|8  |89 |899|8998|89983|
|434663|Maria Fernanda Campos   |fernandesvitor-gabriel@example.org|1942-09-08     |33513339|3  |33 |335|3351|33513|
|598510|Liam Nogueira           |nogueiraliam@example.org          |1962-06-06     |55917059|5  |55 |559|5591|55917|
|932291|Thales Aparecida        |luiz-henriqueda-mota@example.org  |1917-06-06     |73226672|7  |73 |732|7322|73226|
|440365|Matheus Monteiro        |heloisamoura@example.com          |1956-04-06     |89448435|8  |89 |894|8944|89448|
|975042|Gabrielly Siqueira      |marianasouza@example.org          |1919-09-20     |76225783|7  |76 |762|7622|76225|
|409883|Sra. Brenda Pimenta     |bryan25@example.com               |1942-06-27     |33971818|3  |33 |339|3397|33971|
+------+------------------------+----------------------------------+---------------+--------+---+---+---+----+-----+
only showing top 20 rows

In [5]:
lista_posicoes = [5, 4, 3, 2, 1]
series_append = []
df_aux = df_fake

for posicao in lista_posicoes:

    col_pos = f"p_{posicao}"

    df_prep = df_aux.alias("t1")\
    .join(df_classe.alias("t2"), (F.col(f"t1.{col_pos}") == F.col("t2.codigo_regiao")))\
    .select("t1.*", "t2.*")

    registros = [row.id for row in df_prep.select("id").collect()]
    df_aux = df_aux.filter(~F.col("id").isin(registros))

    series_append.append(df_prep)

df = reduce(DataFrame.unionAll, series_append)

df.select("id", "nome", "email", "data_nascimento", "cep", "codigo_regiao", "classe", "posicao")\
.orderBy("posicao", "codigo_regiao", ascending=False).show(truncate=False, n=500)\

print("Rows: ", df.count())

+------+---------------------+----------------------------------+---------------+--------+-------------+-----------+-------+
|id    |nome                 |email                             |data_nascimento|cep     |codigo_regiao|classe     |posicao|
+------+---------------------+----------------------------------+---------------+--------+-------------+-----------+-------+
|434663|Maria Fernanda Campos|fernandesvitor-gabriel@example.org|1942-09-08     |33513339|33513        |CLASSE 33_5|5      |
|660018|Arthur Pimenta       |daniela24@example.org             |1940-08-18     |77030923|77           |CLASSE 77_2|2      |
|834388|Bella Melo           |cavalcantevitor@example.com       |2012-02-24     |77192882|77           |CLASSE 77_2|2      |
|812112|Benjamim Sampaio     |giovanna98@example.org            |1915-01-24     |77613170|77           |CLASSE 77_2|2      |
|409883|Sra. Brenda Pimenta  |bryan25@example.com               |1942-06-27     |33971818|33           |CLASSE 33_2|2      |
|453942|João Gabriel Nunes   |arthurdas-neves@example.org       |2004-12-01     |05055581|05           |CLASSE 05_2|2      |
|666712|Benício Câmara       |maria-sophiada-mota@example.net   |2016-11-26     |05661310|05           |CLASSE 05_2|2      |
|215495|Camila Garcia        |mcampos@example.com               |1959-08-13     |05466609|05           |CLASSE 05_2|2      |
|673293|Helena Guerra        |siqueiraclarice@example.com       |1994-03-14     |08144698|0            |CLASSE 0_1 |1      |
|929896|Bernardo Vargas      |maria-ceciliapastor@example.org   |1962-10-29     |06672076|0            |CLASSE 0_1 |1      |
|719969|Augusto Ferreira     |marianasales@example.com          |1982-11-04     |02295644|0            |CLASSE 0_1 |1      |
|974025|Theodoro Rios        |ana-sophiada-paz@example.org      |1989-04-01     |08535593|0            |CLASSE 0_1 |1      |
|174920|Thales Costela       |britootto@example.net             |2014-12-15     |03322763|0            |CLASSE 0_1 |1      |
|329349|Mariana Novais       |oliverda-rosa@example.com         |2020-03-14     |06827137|0            |CLASSE 0_1 |1      |
+------+---------------------+----------------------------------+---------------+--------+-------------+-----------+-------+

Rows:  14

In [6]:
df_report = df.groupBy("posicao").count()
df_report = df_report.orderBy("posicao", ascending=False)
df_report.show(truncate=False)

+-------+-----+
|posicao|count|
+-------+-----+
|5      |1    |
|2      |7    |
|1      |6    |
+-------+-----+