<a href="https://colab.research.google.com/github/andersonbraz/hands-on-notebooks/blob/main/sample_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .getOrCreate()

In [4]:
from pyspark.sql import Row

class Teams:

	def __init__(self, spark):
		self._spark = spark

	def get_list(self):

		teams_data = [
			Row(team_id=1, name="Red Bull"),
			Row(team_id=2, name="Ferrari"),
			Row(team_id=3, name="Mercedes"),
			Row(team_id=4, name="Alpine"),
			Row(team_id=5, name="McLaren"),
			Row(team_id=6, name="Sauber"),
			Row(team_id=7, name="Aston Martin"),
			Row(team_id=8, name="Haas"),
			Row(team_id=9, name="Alpha Tauri"),
			Row(team_id=10, name="Williams"),
		]

		df_teams = self._spark.createDataFrame(teams_data)

		return df_teams

In [5]:
from pyspark.sql import Row

class Cars:

	def __init__(self, spark):
		self._spark = spark

	def get_list(self):

		cars_data = [
			Row(car_id=1, team_id=1, motor="Honda 1.6 V6 Turbo", year="2024"),
			Row(car_id=11, team_id=1, motor="Honda 1.6 V6 Turbo", year="2024"),
			Row(car_id=16, team_id=2, motor="Ferrari 1.6 V6 turbo", year="2024"),
			Row(car_id=55, team_id=2, motor="Ferrari 1.6 V6 turbo", year="2024"),
			Row(car_id=44, team_id=3, motor="Mercedes 1.6 V6 turbo", year="2024"),
			Row(car_id=63, team_id=3, motor="Mercedes 1.6 V6 turbo", year="2024"),
			Row(car_id=31, team_id=4, motor="Renault 1.6 V6 turbo", year="2024"),
			Row(car_id=10, team_id=4, motor="Renault 1.6 V6 turbo", year="2024"),
			Row(car_id=4, team_id=5, motor="Mercedes 1.6 V6 turbo", year="2024"),
			Row(car_id=81, team_id=5, motor="Mercedes 1.6 V6 turbo", year="2024"),
			Row(car_id=77, team_id=6, motor="Ferrari 1.6 V6 turbo", year="2024"),
			Row(car_id=24, team_id=6, motor="Ferrari 1.6 V6 turbo", year="2024"),
			Row(car_id=14, team_id=7, motor="Mercedes 1.6 V6 turbo", year="2024"),
			Row(car_id=18, team_id=7, motor="Mercedes 1.6 V6 turbo", year="2024"),
			Row(car_id=20, team_id=8, motor="Ferrari 1.6 V6 turbo", year="2024"),
			Row(car_id=27, team_id=8, motor="Ferrari 1.6 V6 turbo", year="2024"),
			Row(car_id=3, team_id=9, motor="Honda 1.6 V6 Turbo", year="2024"),
			Row(car_id=22, team_id=9, motor="Honda 1.6 V6 Turbo", year="2024"),
			Row(car_id=23, team_id=10, motor="Mercedes 1.6 V6 turbo", year="2024"),
			Row(car_id=2, team_id=10, motor="Mercedes 1.6 V6 turbo", year="2024"),
		]

		df_cars = self._spark.createDataFrame(cars_data)

		return df_cars

In [6]:
from pyspark.sql import Row

class Drivers:

	def __init__(self, spark):
		self._spark = spark

	def get_list(self):

		drivers_data = [
			Row(id="796457b", car_id=1, name="Max Verstappen", age=26, country="Holanda", birth_date="1997-09-30"),
			Row(id="94d7946", car_id=11, name="Sergio Pérez", age=34, country="México", birth_date="1990-01-26"),
			Row(id="a9994ed", car_id=16, name="Charles Leclerc", age=26, country="Monaco", birth_date="1997-10-16"),
			Row(id="1ce3787", car_id=55, name="Carlos Sainz", age=29, country="Espanha", birth_date="1994-09-01"),
			Row(id="d91f4dc", car_id=44, name="Lewis Hamilton", age=39, country="Reino Unido", birth_date="1985-01-07"),
			Row(id="13ad8d5", car_id=63, name="George Russell", age=26, country="Reino Unido", birth_date="1998-02-15"),
			Row(id="5764e4f", car_id=31, name="Esteban Ocon", age=27, country="França", birth_date="1996-09-17"),
			Row(id="7764e2f", car_id=10, name="Pierre Gasly", age=28, country="França", birth_date="1996-02-07"),
			Row(id="2104f0e", car_id=4, name="Lando Norris", age=24, country="Reino Unido", birth_date="1999-11-13"),
			Row(id="ad10075", car_id=81, name="Oscar Piastri", age=22, country="Austrália", birth_date="2001-04-06"),
			Row(id="85b13a9", car_id=77, name="Valtteri Bottas", age=34, country="Finlândia", birth_date="1989-08-28"),
			Row(id="2fdf49d", car_id=24, name="Zhou Guanyu", age=24, country="China", birth_date="1999-05-30"),
			Row(id="2f2a7f0", car_id=14, name="Fernando Alonso", age=42, country="Espanha", birth_date="1981-07-29"),
			Row(id="8d16571", car_id=18, name="Lance Stroll", age=25, country="Canadá", birth_date="1998-10-29"),
			Row(id="13d8a7b", car_id=20, name="Kevin Magnussen", age=31, country="Dinamarca", birth_date="1992-10-05"),
			Row(id="f041565", car_id=27, name="Nico Hulkenberg", age=36, country="Alemanha", birth_date="1987-08-19"),
			Row(id="bdebc4c", car_id=3, name="Daniel Ricciardo", age=34, country="Austrália", birth_date="1989-07-01"),
			Row(id="52ca72c", car_id=22, name="Yuki Tsunoda", age=23, country="Japão", birth_date="2000-05-11"),
			Row(id="f77b279", car_id=23, name="Alex Albon", age=27, country="Tainlândia", birth_date="1996-03-27"),
			Row(id="01f90ff", car_id=2, name="Sargento Logan", age=23, country="Estados Unidos", birth_date="2000-12-31"),
		]

		df_drivers = self._spark.createDataFrame(drivers_data)

		return df_drivers

In [7]:
# Equipes

teams = Teams(spark)
df_teams = teams.get_list()

df_teams.printSchema()
df_teams.show(truncate=False)

# Carros

cars = Cars(spark)
df_cars = cars.get_list()

df_cars.printSchema()
df_cars.show(truncate=False)

# Pilotos

drivers = Drivers(spark)
df_drivers = drivers.get_list()

df_drivers.printSchema()
df_drivers.show(truncate=False)

root
 |-- team_id: long (nullable = true)
 |-- name: string (nullable = true)

+-------+------------+
|team_id|name        |
+-------+------------+
|1      |Red Bull    |
|2      |Ferrari     |
|3      |Mercedes    |
|4      |Alpine      |
|5      |McLaren     |
|6      |Sauber      |
|7      |Aston Martin|
|8      |Haas        |
|9      |Alpha Tauri |
|10     |Williams    |
+-------+------------+

root
 |-- car_id: long (nullable = true)
 |-- team_id: long (nullable = true)
 |-- motor: string (nullable = true)
 |-- year: string (nullable = true)

+------+-------+---------------------+----+
|car_id|team_id|motor                |year|
+------+-------+---------------------+----+
|1     |1      |Honda 1.6 V6 Turbo   |2024|
|11    |1      |Honda 1.6 V6 Turbo   |2024|
|16    |2      |Ferrari 1.6 V6 turbo |2024|
|55    |2      |Ferrari 1.6 V6 turbo |2024|
|44    |3      |Mercedes 1.6 V6 turbo|2024|
|63    |3      |Mercedes 1.6 V6 turbo|2024|
|31    |4      |Renault 1.6 V6 turbo |2024|
|10    |4      |Renault 1.6 V6 turbo |2024|
|4     |5      |Mercedes 1.6 V6 turbo|2024|
|81    |5      |Mercedes 1.6 V6 turbo|2024|
|77    |6      |Ferrari 1.6 V6 turbo |2024|
|24    |6      |Ferrari 1.6 V6 turbo |2024|
|14    |7      |Mercedes 1.6 V6 turbo|2024|
|18    |7      |Mercedes 1.6 V6 turbo|2024|
|20    |8      |Ferrari 1.6 V6 turbo |2024|
|27    |8      |Ferrari 1.6 V6 turbo |2024|
|3     |9      |Honda 1.6 V6 Turbo   |2024|
|22    |9      |Honda 1.6 V6 Turbo   |2024|
|23    |10     |Mercedes 1.6 V6 turbo|2024|
|2     |10     |Mercedes 1.6 V6 turbo|2024|
+------+-------+---------------------+----+

root
 |-- id: string (nullable = true)
 |-- car_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- country: string (nullable = true)
 |-- birth_date: string (nullable = true)

+-------+------+----------------+---+--------------+----------+
|id     |car_id|name            |age|country       |birth_date|
+-------+------+----------------+---+--------------+----------+
|796457b|1     |Max Verstappen  |26 |Holanda       |1997-09-30|
|94d7946|11    |Sergio Pérez    |34 |México        |1990-01-26|
|a9994ed|16    |Charles Leclerc |26 |Monaco        |1997-10-16|
|1ce3787|55    |Carlos Sainz    |29 |Espanha       |1994-09-01|
|d91f4dc|44    |Lewis Hamilton  |39 |Reino Unido   |1985-01-07|
|13ad8d5|63    |George Russell  |26 |Reino Unido   |1998-02-15|
|5764e4f|31    |Esteban Ocon    |27 |França        |1996-09-17|
|7764e2f|10    |Pierre Gasly    |28 |França        |1996-02-07|
|2104f0e|4     |Lando Norris    |24 |Reino Unido   |1999-11-13|
|ad10075|81    |Oscar Piastri   |22 |Austrália     |2001-04-06|
|85b13a9|77    |Valtteri Bottas |34 |Finlândia     |1989-08-28|
|2fdf49d|24    |Zhou Guanyu     |24 |China         |1999-05-30|
|2f2a7f0|14    |Fernando Alonso |42 |Espanha       |1981-07-29|
|8d16571|18    |Lance Stroll    |25 |Canadá        |1998-10-29|
|13d8a7b|20    |Kevin Magnussen |31 |Dinamarca     |1992-10-05|
|f041565|27    |Nico Hulkenberg |36 |Alemanha      |1987-08-19|
|bdebc4c|3     |Daniel Ricciardo|34 |Austrália     |1989-07-01|
|52ca72c|22    |Yuki Tsunoda    |23 |Japão         |2000-05-11|
|f77b279|23    |Alex Albon      |27 |Tainlândia    |1996-03-27|
|01f90ff|2     |Sargento Logan  |23 |Estados Unidos|2000-12-31|
+-------+------+----------------+---+--------------+----------+